<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tolvgx.show">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <!-- 入口 -->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 事件分发 -->
        <activity android:name=".eventdispacth.DispacthActivity" />

        <!-- launchmode
             1.查看查看activity栈信息
             adb shell dumpsys activity

             2.
             singleInstance
               Main5Activity  onPause
               Main1Activity  onNewIntent
               Main1Activity  onStart
               Main1Activity  onResume
               Main5Activity  onStop

             singleTask(可跨栈调用)
               Main2Activity  onDestroy
               Main5Activity  onPause
               Main1Activity  onNewIntent
               Main1Activity  onStart
               Main1Activity  onResume
               Main5Activity  onStop

             singleTop(只在当前栈调用生效)
               Main5Activity  onPause
               Main5Activity  onNewIntent
               Main5Activity  onResume

             3.taskAffinity, 配合singleTask(本应用)或者allowTaskReparenting(跨应用)使用
                其中关于allowTaskReparenting:
                a.点击邮件内容中的链接，会打开一个Activity显示这个链接，这个Activity是属于Android系统浏览器的
                b.当显示这个链接的时候，点击Home键，让邮件App进入到后台中。
                c.点击浏览器应用程序，你会发现打开的浏览器程序显示的是，上一次从邮件中打开的链接页面。
                d.此时点击Home键，浏览器App进入到后台中。
                e.打开邮件App（注意我们没有关闭邮件App，而是让他进入到了后台中），你会发现那个显示链接的Activity不见了, 因为他已经移动到浏览器的Task中了.
        -->
        <activity
            android:name=".launchmode.Main1Activity"
            android:launchMode="singleTask" />
        <activity android:name=".launchmode.Main2Activity"/>
        <activity
            android:name=".launchmode.Main3Activity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".launchmode.Main4Activity"
            android:launchMode="singleTask"
            android:taskAffinity="com.test.aaaaa" />
        <activity android:name=".launchmode.Main5Activity"
            android:launchMode="singleTop"/>

        <!-- Handler -->
        <activity android:name=".handler.HandlerActivity" />

        <!-- 动画 -->
        <activity android:name=".animator.AnimatorActivity" />
        <activity android:name=".animator.Animator1Activity" />

        <!-- 自定义View -->
        <activity android:name=".defineview.DefineActivity"/>

        <!-- Jetpack -->
        <!-- 横屏旋转
             1.设置configChanges只走onConfigurationChanged()方法
             2.不设置则重新走onPause->onSaveInstanceState->onStop->onDestroy->onCreate->onStart->onRestoreInstanceState->onResume
         -->
        <activity android:name=".jetpack.JetpackActivity"/>
    </application>

</manifest>